{% extends "layout.html" %}

{% block content %}
<div class="container" style="width:350px">

  <div id="status" style="text-align:center">
  <h3>Temparature: <span id="temp"></span></h3>
  <h3>Humidity: <span id="humidity"></span></h3>
  </div>
  
  <div id="buttons" style="text-align:center">
    <p><button id="btn-humidifier" class="btn btn-large">Humidifier</button><br/></p>
    <p><button id="btn-aircon" class="btn btn-large">AirConditioner</button></p>
  </div>
  
  <div id="auto" style="text-align:center">
  <p>Enable autocontrol and leave it alone</p>
  <p>Current <a href="/setting">setting</a>: {{ settings["temp_min"] }}/{{ settings["temp_max"]}}C, {{settings["humi_min"]}}/{{settings["humi_max"]}}%.</p>
  <p><button id="btn-auto" class="btn btn-large">AutoControl</button></p>
  </div>
  
</div>

<script>
  updateStatus();
  setInterval(updateStatus, 20000);
  $("#btn-aircon").click(function() {toggleSwitch("aircon")});
  $("#btn-humidifier").click(function() {toggleSwitch("humidifier")});
  $("#btn-auto").click(function() {toggleSwitch("auto")});

  function toggleSwitch(item) {
     $btn = $("#btn-" + item);
     current = $btn.hasClass("btn-primary");
     if (current == true) {
       $.post("/switch", {item: item, operation:"off"}, function(data) {
         if (data.status == "succeed") {
           $btn.removeClass("btn-primary");
	 } else {
	   console.log("failed", data.error);
	 }
      });
    } else {
        $.post("/switch", {item: item, operation:"on"}, function(data) {
         if (data.status == "succeed") {
           $btn.addClass("btn-primary");
	 } else {
	   console.log("failed", data.error);
	 }
      });
   
    } 
  }

  function updateStatus() {
    $.getJSON('/status', function(data) {
      if (data.light == 0) {
          $("#btn-humidifier").removeClass("btn-primary");
      } else {
          $("#btn-humidifier").addClass("btn-primary");
      }
      if (data.aircon == 0) {
          $("#btn-aircon").removeClass("btn-primary");
      } else {
          $("#btn-aircon").addClass("btn-primary");
      }
      if (data.auto_mode == 0) {
          $("#btn-auto").removeClass("btn-primary");
      } else {
          $("#btn-auto").addClass("btn-primary");
      }


      if (data.temp != null) {
          $("#temp").html(data.temp);
          $("#humidity").html(data.humidity);
      }
    });
  }
</script>
{% endblock %}
