{% extends "layout.html" %}

{% block content %}
<div class="container" style="width:350px">

  <div id="status" style="text-align:center">
  <h3>Temparature: <span id="temp"></span></h3>
  <h3>Humidity: <span id="humidity"></span></h3>
  </div>
  
  <div id="buttons" style="text-align:center">
    <p><button id="btn-humidifier" class="btn btn-large">Humidifier</button><br/></p>
    <p><button id="btn-aircon" class="btn btn-large">AirConditioner</button></p>
  </div>
  
  <div id="auto" style="text-align:center">
  <p>Enable autocontrol and leave it alone</p>
  <p>Current <a href="/setting">setting</a>: {{ settings["temp_min"] }}/{{ settings["temp_max"]}}C, {{settings["humi_min"]}}/{{settings["humi_max"]}}%.</p>
  <p><button id="btn-auto" class="btn btn-large">AutoControl</button></p>
  </div>
  
</div>
{% endblock %}
